.sidebar {
  width: 240px;
  background: #ffffff;
  height: calc(100vh - 70px); /* below navbar */
  border-right: 1px solid #eee;
  padding: 20px 0;
}

.sidebar-title {
  font-weight: bold;
  padding: 0 20px 15px;
  color: #555;
}

.sidebar-item {
  padding: 12px 20px;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item:hover {
  background: #f4f6fb;
}

.sidebar-submenu {
  padding-left: 40px;
  font-size: 14px;
}

.sidebar-submenu div {
  padding: 8px 0;
  cursor: pointer;
  color: #555;
}

.sidebar-submenu div:hover {
  color: #6c63ff;
}

.arrow {
  font-size: 10px;
}



/* ===== Toggle Switch ===== */
.toggle-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 20px;
  inset: 0;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #4f46e5;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}

/* ===== Dark Mode ===== */
body.dark {
  background-color: #0f172a;
  color: #e5e7eb;
}

body.dark .sidebar {
  background-color: #020617;
  color: #e5e7eb;
}

body.dark .sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
